extends shared/layout

block header
  include partials/_hero

block footer
  include partials/_footer

block content

  section.split#UmHoll(full-window-height="{multiply:0.25,above:640}")
    row: column
      h2 Um Höll

  section.light(full-window-height="{multiply:0.7}")
    row
      column.large-7
        p Bræðurnir Jón og Grétar Guðmundssynir eru fasteignasalan Höll, en þetta litla fjölskyldufyrirtæki á rætur sínar að rekja til [...?]
        p Integer pulvinar vulputate lacus, et iaculis quam porta imperdiet. Quisque varius commodo lectus vel rutrum. Nullam nec laoreet dui.
        p Cras porttitor velit ac purus cursus, vitae volutpat quam ornare. Integer scelerisque eros id diam accumsan egestas. Morbi vel tempor sapien.
        p Mauris accumsan varius nisl, non sodales dui scelerisque in. Aliquam a lorem nec libero rhoncus varius eget ac mi.
      column.large-5
        figure
          img(src='img/logo.svg')
          img(src='img/phone.svg')

  section.split#Kaupa(full-window-height="{multiply:0.25,above:640}")
    row: column
      h2 Kaupa

  section.light(full-window-height="{multiply:0.7}")
    row
      column.large-4
        p Hér má finna ýmsa gagnlega fróðleiksmola fyrir þá sem eru að íhuga kaup á fasteign.
        p Að því sögðu, hvetjum við þig eindregið til að taka upp símann, því ekkert jafnast á við að ræða málin við lifandi manneskju!
        figure: img(src='img/phone.svg')
      column.large-4
        p Nulla facilisi. Ut auctor urna vitae fermentum posuere. Mauris aliquet tortor neque, sed suscipit massa porta vitae.
        p Donec a dolor at justo congue accumsan et eu dui. Curabitur in nibh nunc. Nulla pulvinar non nisi in vulputate.
        p Mauris aliquet tortor neque, sed suscipit massa porta vitae. Nulla facilisi. Ut auctor urna vitae fermentum posuere.
      column.large-4
        p Donec a dolor at justo congue accumsan et eu dui. Curabitur in nibh nunc. Nulla pulvinar non nisi in vulputate.
        p Ut auctor urna vitae fermentum posuere. Mauris aliquet tortor neque, sed suscipit massa porta vitae.
        p Nulla facilisi. Ut auctor urna vitae fermentum posuere. Mauris aliquet tortor neque, sed suscipit massa porta vitae.

  section.split#Selja(full-window-height="{multiply:0.25,above:640}")
    row: column
      h2 Selja

  section.light(full-window-height="{multiply:0.7}")
    row
      column.large-4
        p Hér má finna ýmsa gagnlega fróðleiksmola fyrir þá sem eru að íhuga sölu á fasteign.
        p Að því sögðu, hvetjum við þig eindregið til að taka upp símann, því ekkert jafnast á við að ræða málin við lifandi manneskju!
        figure: img(src='img/phone.svg')
      column.large-4
        p Nulla facilisi. Ut auctor urna vitae fermentum posuere. Mauris aliquet tortor neque, sed suscipit massa porta vitae.
        p Donec a dolor at justo congue accumsan et eu dui. Curabitur in nibh nunc. Nulla pulvinar non nisi in vulputate.
        p Mauris aliquet tortor neque, sed suscipit massa porta vitae. Nulla facilisi. Ut auctor urna vitae fermentum posuere.
      column.large-4
        p Donec a dolor at justo congue accumsan et eu dui. Curabitur in nibh nunc. Nulla pulvinar non nisi in vulputate.
        p Ut auctor urna vitae fermentum posuere. Mauris aliquet tortor neque, sed suscipit massa porta vitae.
        p Nulla facilisi. Ut auctor urna vitae fermentum posuere. Mauris aliquet tortor neque, sed suscipit massa porta vitae.

  section.split#HafduSamband(full-window-height="{multiply:0.25,above:640}")
    row: column
      h2 Hafðu Samband

  section.light(full-window-height="{multiply:0.7}")
    row
      column.medium-6.large-8
        p.large Við hvetjum þig til að hafa samband við okkur símleiðis, en þér er einnig velkomið að senda okkur tölvupóst!

      column.large-4
        figure
          img(src='img/address.svg')
          img(src='img/phone.svg')
          img(src='img/email.svg')
