
nav {
  &.top {
    @include clearfix;

    position: absolute;
    top: 0; left: 0; right: 0;
    z-index: 99;

    margin: -61px auto 0;

    user-select: none;
    transition: transform $transition-speed, background $transition-speed-slow;

    a { opacity: 0; }
    &.active a { opacity: 1; }
    &.active >ul {
      background-color: $color-light;
    }

    ul { @include reset-list; margin: 0; padding: 0; }

    >ul {
      font-size: 0;
      text-align: center;

      border-bottom: 1px solid $color-primary;

      transition: background $transition-speed-fast;

      li {
        position: relative;
        z-index: 30;

        display: inline-block;

        font-size: $font-size;

        + li { margin-left: $spacing; }

        >a { padding: $spacing; }

        .no-touch &:hover >a,
        .no-touch & >a:hover {
          background-color: rgba($color-primary,0.05);
        }

        >a {
          display: block;
          padding: $spacing;

          letter-spacing: 1px;
          line-height: rem-calc(20);
          font-weight: 400;
          text-transform: uppercase;
          color: $color-primary;

          -webkit-font-smoothing: antialiased;

          transition: opacity $transition-speed-slow, background-color $transition-speed-fast;
          transition-delay: 100ms;
        }

        .no-touch {
          &:hover >a,
          >a:hover {
            color: rgba($color-light,0.75);
          }
        }
      }
    }


    &.fix {
      .no-touch & {
        position: fixed;
        margin-top: 0;
        top: 0 !important;

        >ul {
          background-color: rgba($color-light,0.95);
        }

        &:hover {
          transform: translate3d(0px, 0px, 0px) !important;
        }
      }
    }

    &.collapse {
      >ul {
        li {
          display: block;
          margin-left: 0;
          >a { padding: $spacing/2 $spacing; }
        }
      }
    }
  }
}
