
nav {
  &.top {
    @include clearfix;

    position: absolute;
    left: 0; right: 0; bottom: 0;

    margin: 0 auto;

    user-select: none;
    transition: transform $transition-speed, background $transition-speed-fast;

    &.fix {
      .no-touch & {
        position: fixed;
        bottom: auto; top: 0;

        padding-bottom: 120px;

        @include respond-to(medium) {
          padding-bottom: 60px;
        }

        >ul {
          background: url('/img/blueprint/circle.png') no-repeat 50% 50%;
          background-size: cover;
          background-color: rgba($color-primary,0.95);
        }

        &:hover {
          transform: translate3d(0px, 0px, 0px) !important;
        }
      }
    }

    ul { @include reset-list; margin: 0; padding: 0; }

    a { opacity: 0; }
    &.active a { opacity: 1; }

    >ul {
      font-size: 0;
      text-align: center;

      li {
        position: relative;
        z-index: 30;

        display: inline-block;

        font-size: $font-size;

        + li { margin-left: $spacing; }

        >a { padding: $spacing; }

        .no-touch &:hover >a,
        .no-touch & >a:hover {
          background-color: rgba($color-light,0.25);
        }

        >a {
          display: block;
          padding: $spacing;

          letter-spacing: 1px;
          line-height: rem-calc(20);
          font-weight: 400;
          text-transform: uppercase;
          color: white;

          -webkit-font-smoothing: antialiased;

          transition: opacity $transition-speed-slow, background-color $transition-speed-fast;
        }

        .no-touch {
          &:hover >a,
          >a:hover {
            color: rgba($color-light,0.75);
          }
        }
      }
    }

    &.collapse {
      >ul {
        li {
          display: block;
          margin-left: 0;
          >a { padding: $spacing/2 $spacing; }
        }
      }
    }
  }
}
