
nav {
  &.top {
    @include clearfix;

    position: absolute;
    left: 0; right: 0; bottom: 0;

    margin: 0 auto;

    user-select: none;

    ul { @include reset-list; margin: 0; padding: 0; }

    a { opacity: 0; }
    &.active a { opacity: 1; }

    >ul {
      font-size: 0;
      text-align: center;

      li {
        position: relative;
        z-index: 30;

        display: block;

        font-size: $font-size;

        >a {
          display: block;
          padding: $spacing/2 $spacing;

          letter-spacing: 1px;
          line-height: rem-calc(20);
          font-weight: 400;
          text-transform: uppercase;
          color: white;

          -webkit-font-smoothing: antialiased;

          transition: opacity $transition-speed-slow, background-color $transition-speed-fast;
        }

        @include respond-to(small-only) {

          &:hover >a,
          >a:hover {
            color: rgba($color-light,0.75);
          }
        }

        @include respond-to(medium) {
          display: inline-block;

          + li { margin-left: $spacing; }

          >a { padding: $spacing; }

          &:hover >a,
          >a:hover {
            background-color: rgba($color-light,0.25);
          }
        }
      }
    }
  }
}
